<div class="container d-flex flex-wrap">
    <h1>All our Flats (<%= @flats.size %>)</h1>
    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
      <% @flats.each do |flat| %>
        <%= render flat %>
      <% end %>
    </div>
</div>
